* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#all {
    display: none;
}

#loading {
    width: 640px;
    margin: auto;
}

    #loading img {
        position: absolute;
        top: 50%;
        height: 360px;
        margin-top: -180px;
    }

.textbox {
    height: 25px;
}

select {
    width: 200px;
    height: 30px;
    background: #FFF;
    border: 1px solid #CCCCCC;
    font: 14px/18px Arial;
    padding: 5px;
}

a {
    color: #444444;
    text-decoration: none;
}

.StTitle {
    clear: both;
}

    .StTitle h1 {
        font: bold 24px/40px "微软雅黑","Microsoft YaHei";
        border-bottom: 2px dashed #DDDDDD;
        color: #157dbf;
    }

    .StTitle h2 {
        margin: 10px 0;
        font: bold 16px/30px "微软雅黑","Microsoft YaHei";
    }

table.StTable {
    border: 1px solid #DDDDDD;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    border-spacing: 0;
}

    table.StTable .TitleTR td {
        text-align: center;
        font-weight: bold;
    }

    table.StTable tr:nth-child(odd) {
        background: #F9F9F9;
    }

    table.StTable th, table.StTable td {
        border-bottom: 1px solid #DDDDDD;
        font: 14px/20px Arial;
        text-align: left;
        padding: 10px 5px;
    }
/***********************************通用按钮***********************************/
.layui-btn {
    margin-left: 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
    padding: 0 15px;
    background-color: #5cb85c;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -webkit-transition: all .3s;
    box-sizing: border-box;
    border-radius: .25em;
}

    .layui-btn:hover {
        opacity: 0.8;
    }

    .layui-btn i {
        margin-right: 3px;
        vertical-align: middle;
    }

layui-btn {
}

.layui-btn-warning {
    background: #f0ad4e;
}

.layui-btn-danger {
    background-color: #d9534f;
}

.layui-btn-info {
    background-color: #5bc0de;
}


.StBtn {
    border: none;
    font: 16px/30px "微软雅黑","Microsoft YaHei";
    color: #FFF;
    background: #CBCBCB;
    padding: 0 30px;
    border-radius: 5px;
    cursor: pointer;
}

.StBtn_submit {
    background: #2196F3;
}

    .StBtn_submit:hover {
        background: #1e8ee6;
    }

.StBtn_add {
    background: #f5b526;
}

    .StBtn_add:hover {
        background: #f7c963;
    }

.StBtn_save {
    background: #1fb5ad;
}

    .StBtn_save:hover {
        background: #23C8BF;
    }

.StBtn_cancel {
    background: #27a9e3;
}

    .StBtn_cancel:hover {
        background: #44bef4;
    }

/*********************************** 数据列表表格操作菜单 ***********************************/
.sipac_table_menu {
    height: 36px;
    padding: 5px 0;
}

    .sipac_table_menu a {
        display: block;
        float: left;
        padding: 5px 10px 0;
        font: 14px/30px Arial;
        text-align: center;
    }

        .sipac_table_menu a:hover, .sipac_table_menu a.live {
            border-bottom: 2px solid #157DBf;
            color: #157DBf;
        }

    .sipac_table_menu em {
        display: block;
        float: left;
        height: 20px;
        margin: 10px 0 0;
        border-left: 1px solid #DDDDDD;
    }

/*********************************** 详情页+地图格式的table ***********************************/

.content_Table {
    position: absolute;
    height: 100%;
    width: 100%
}

    .content_Table td, .content_Table th {
        display: table-cell;
        vertical-align: top;
        border: 1px solid #dcd7d7;
        padding: 20px 20px 20px 30px;
    }

        .content_Table td:first-child {
            width: 670px;
            height: 100%;
        }

        .content_Table td:last-child {
            height: 100%;
        }

    .content_Table .layui-tab {
        margin: 0;
    }

    .content_Table .layui-tab-content {
        padding: 10px 0;
    }

    .content_Table .Second-item .layui-row {
        border-bottom: 1px solid #d6d6d6;
    }

    .content_Table .SecondTab-item .layui-row div:nth-child(odd) {
        font-weight: bold;
    }

    .content_Table .layui-tab-title .layui-this {
        color: #157DBf;
        border-bottom: 1px solid;
    }

        .content_Table .layui-tab-title .layui-this:after {
            height: 30px;
        }

    .content_Table .layui-tab-title li {
        line-height: 30px;
        min-width: 45px;
    }

    .content_Table .layui-tab-title {
        height: 30px;
    }

    .content_Table .FirstTab-title {
        position: inherit;
    }

    .content_Table .OperateBar {
        float: right;
    }

        .content_Table .OperateBar button {
            padding: 0 5px;
        }

    .content_Table .layui-field-title {
        border-color: #4092c6;
    }

    .content_Table .layui-elem-field legend {
        margin-top: 11px;
        background: #4092c6;
        color: #fff;
        width: 400px;
    }

        .content_Table .layui-elem-field legend i {
            color: #fff;
        }

/*********************************** Grid列表格式 ***********************************/
.content_grid_lft {
    float: left;
    width: 200px;
    overflow: auto;
}

.content_grid_rt {
    float: left;
    border-left: 1px solid #ccc;
    overflow: auto;
}

.content_grid {
}

.sipac_rtsearchbar {
    float: right;
    z-index: 101;
    padding: 5px 0;
}

    .sipac_rtsearchbar input {
        display: block;
        float: left;
        font: 12px/18px "微软雅黑", "Microsoft YaHei";
        border: #ECECEC 1px solid;
        border-right: none;
        padding: 8px 5px;
        color: #b6b6b6;
        height: 18px;
        width: 180px;
    }

    .sipac_rtsearchbar .StBtn_submit {
        border: none;
        color: #fff;
        overflow: hidden;
        width: 40px;
        height: 36px;
        margin: 0 5px 0 0;
    }

    .sipac_rtsearchbar .s_s_mBox {
        float: left;
    }

        .sipac_rtsearchbar .s_s_mBox .s_s_morebtn {
            height: 36px;
            display: inline-block;
            padding: 0 8px;
            background: #2196F3;
            margin: 0 5px 0 0;
            color: #fff;
            line-height: 36px;
            padding-left: -1px;
            font-size: 20px;
        }

.sipac_searchBox {
    display: none;
    border-bottom: 1px solid #E4E4E4;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
}

.sipac_form .sipac_form_row {
    margin-bottom: 10px;
}

.sipac_form label {
    display: inline-block;
    margin-left: 10px;
    width: 80px;
}

.sipac_form input {
    height: 25px !important;
    width: 200px;
}

.sipac_searchBox .s_input {
    padding: 0 4px;
    border: 1px solid #D4D4D3;
    border-radius: 5px 5px 5px 5px;
}


.sipac_searchBox .s_s_close {
    overflow: auto;
    text-align: center;
}

    .sipac_searchBox .s_s_close a {
        display: block;
        margin: 0 auto;
        background: #DDDDDD;
        width: 50px;
        padding: 0 8px;
        font-size: 20px;
        color: #fff;
    }

.layui-elem-field {
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #e4e4e4;
    background: #f2f2f2;
}
    .layui-elem-field legend {
        margin-left: 20px;
        padding: 0 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 300;
    }
