@{
    ViewBag.Title = "短信服务参数管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        //初始化表格
        $('#gd_url').InitGird({ url: "/Config_SMSManager/GetGrid" });
    })

    //状态
    function formatter_Sms_Status(value, row, index) {
        if (value.toString() == "1")
            return '<span class="label label-success">正常</span>';
        else
            return '<span class="label label-danger">非正常</span>';
    }
    //查询
    function Search() {
        var param = $("#queryTab").getJsonValues().jsonData;
        $('#gd_url').datagrid("load", param);
    }
    //刷新
    function Refresh() {
        $("#queryTab .easyui-textbox").textbox('clear');
        $("#queryTab .easyui-combobox").combobox('setValue', '');
        Search();
    }
    //新增
    function Add() {
        $("#win").OpenWin({ title: "短信服务参数-新增", url: "/Config_SMSManager/Config_SMSForm", width: 700, height: 400 });
    }
    //修改
    function Edit() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "短信服务参数-编辑", url: "/Config_SMSManager/Config_SMSForm?ID=" + row.ID, width: 700, height: 400 });
        }
    }
    //删除
    function Del() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#gd_url').datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: "/Config_SMSManager/DelInfo",
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功', 'info', function () {
                                    Search();
                                });
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }
    //回调
    function callback(isOk) {
        $("#win").window('close');
        if (isOk)
            Search();
    }
</script>
<div id="win"></div>
<div class="content_grid">
    <div class="StTitle" id="ToolBar">
        <div class="sipac_rtsearchbar">
            <div class="s_s_mBox">
                <a title="点击下拉内容较多搜索" class="s_s_morebtn" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="sipac_searchBox sipac_form" id="queryTab">
            <fieldset class="layui-elem-field">
                <legend>更多查询</legend>
                <div class="sipac_form_row">
                    <label>系统标识</label><input class="easyui-textbox" name="Like_SystemID" />
                    <label>用户名</label><input class="easyui-textbox" name="Like_Username" />
                    <label>是否有效</label><input class="easyui-combobox Dict_Enabled defaultAll" name="Enabled" />
                    <button class="layui-btn" onclick="Search()"><i class="fa fa-search"></i>搜索</button>
                </div>
                <div class="s_s_close"><a href="javascript:void(0);" title="点击收起"><i class="fa fa-chevron-up"></i></a></div>
            </fieldset>
        </div>
        <div class="sipac_table_menu">
            <button class="layui-btn" onclick="Add()"><i class="fa fa-plus"></i>新增</button>
            <button class="layui-btn layui-btn-warning" onclick="Edit()"><i class="fa fa-edit"></i>修改</button>
            <button class="layui-btn layui-btn-danger" onclick="Del()"><i class="fa fa-minus"></i>删除</button>
            <button class="layui-btn layui-btn-info" onclick="Refresh()"><i class="fa fa-refresh "></i>刷新</button>
        </div>
    </div>
    <table id="gd_url">
        <thead>
            <tr>
                <th data-options="field:'ApplicationID',width:80">分配的唯一编号</th>
                <th data-options="field:'SystemID',width:100">系统标识</th>
                <th data-options="field:'Username',width:100">用户名</th>
                <th data-options="field:'Password',width:100">密码</th>
                <th data-options="field:'DeliveryResultRequest',width:80">发送结果请求</th>
                <th data-options="field:'Note',width:200">备注说明</th>
                <th data-options="field:'Precedence',width:80,align:'center'">优先级别</th>
                <th data-options="field:'Enabled',width:80,align:'center',formatter:formatter_valid">是否有效</th>
                <th data-options="field:'Sms_Status',width:80,align:'center',formatter:formatter_Sms_Status">状态</th>
                @*<th data-options="field:'CREATED_MAN',width:80,align:'center'">创建人</th>
                    <th data-options="field:'CREATED',width:100,align:'center'">创建时间</th>
                    <th data-options="field:'UPDATED_MAN',width:80,align:'center'">更新人</th>
                    <th data-options="field:'UPDATED',width:100,align:'center'">更新时间</th>*@
            </tr>
        </thead>
    </table>
</div>