@{
    ViewBag.Title = "部门编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Dict_DeptType = ConstHelper.Dict_DeptType;//数据字典-部门性质
}
<script>
    var Dict_DeptType = '@Dict_DeptType';

    $(function () {
        var ID = getQueryString("ID");
        var ParentID = getQueryString("ParentID");

        //初始化数据字典
        $('#DeptType').InitDictCombobox({ url: Dict_DeptType });

        //编辑
        if (ID != null && ID != "") {
            $.DoAjax({
                url: '/DeptManager/GetInfo',
                dataParams: { ID: ID },
                successFunc: function (result) {
                    $("#fmInfo").form("load", result);
                    BindParentDept(result.ParentID);
                }
            });
        } else {
            BindParentDept(ParentID);
        }
    })

    function BindParentDept(DeptParentID) {
        var ParentID = getQueryString("ParentID");
        //初始化树形选择框
        $('#ParentID').combotree({
            method: "post",
            url: config_jcxx_url+'/DeptManager/GetEasyuiTreeList',
            loadFilter: function (data, parent) {
                data.unshift({ id: "0", text: "——清除选中——" });
                return data;
            },
            onBeforeSelect: function (node, checked) {
                //不能选择自己
                if (node.id == $(":input[name='ID']").val())
                    return false;
            },
            onSelect: function (node) {
                //清除选中
                if ("0" == node.id)
                    $('#ParentID').combotree('clear');
            },
            onLoadSuccess: function (node, data) {
                if (DeptParentID != "") {
                    $('#ParentID').combotree('setValue', DeptParentID);
                }
            }
        });
    }

    //保存
    function Save() {
        if ($("#fmInfo").form('validate'))
            $.DoAjax({
                needWaiting: true,

                url: '/DeptManager/PostInfo',
                dataParams: { info: $("#fmInfo").getJsonValues().jsonStr },
                successFunc: function (result) {
                    if (result.StatusCode == "200") {
                        $.messager.alert('提示', '保存成功', 'info', function () {
                            parent.callback(true);
                        });
                    }
                    else {
                        console.log(result);
                        $.messager.alert('提示', '保存失败');
                        window.location.reload();
                    }
                }
            });
    }

    //取消
    function Cancel() {
        parent.callback(false);
    }
</script>

<form id="fmInfo">
    <input type="hidden" name="ID" />
    <div class="easyui-form-row">
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">上级部门：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-combotree" name="ParentID" id="ParentID" style="width:100%" />
            </div>
        </div>
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">*部门编号：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-textbox" name="DeptCode" data-options="required:true" style="width:100%" />
            </div>
        </div>
    </div>
    <div class="easyui-form-row">
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">*部门名称：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-textbox" name="DeptName" data-options="required:true" style="width:100%" />
            </div>
        </div>
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">部门简称：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-textbox" name="ShortName" data-options="" style="width:100%" />
            </div>
        </div>
    </div>
    <div class="easyui-form-row">
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">部门性质：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-combotree" name="DeptType" id="DeptType" style="width:100%" />
            </div>
        </div>
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">负责人：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-textbox" name="Contact" data-options="" style="width:100%" />
            </div>
        </div>
    </div>
    <div class="easyui-form-row">
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">联系电话：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-textbox" name="ContactTel" data-options="" style="width:100%" />
            </div>
        </div>
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">联系邮箱：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-textbox" name="ContactEmail" data-options="" style="width:100%" />
            </div>
        </div>
    </div>
    <div class="easyui-form-row">
        <label class="easyui-form-label">备注：</label>
        <div class="easyui-form-row-item">
            <input class="easyui-textbox" name="Note" data-options="multiline:true" style="width:100%;height:80px" />
        </div>
    </div>
    <div class="easyui-form-row">
        <div class="easyui-form-row-col6">
            <label class="easyui-form-label">*是否有效：</label>
            <div class="easyui-form-row-item">
                <input class="easyui-combobox Dict_Enabled" name="Enabled" value="1" />
            </div>
        </div>
    </div>
    <div class="easyui-form-row">
        <label class="easyui-form-label">&nbsp;</label>
        <div class="easyui-form-row-item">
            <button type="button" class="layui-btn layui-btn-save" onclick="Save()"><i class="fa fa-save"></i>保存</button>
            <button type="button" class="layui-btn layui-btn-cancel" onclick="Cancel()"><i class="fa fa-undo"></i>取消</button>
        </div>
    </div>
</form>