@{
    ViewBag.Title = "短信号码组管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(function () {

        //初始化表格
        $('#gd_url').InitGird({ url: "/PhoneGroupManager/GetGrid" });

      
    })

   
    //查询
    function Search() {
        var param = $("#queryTab").getJsonValues().jsonData;
        $('#gd_url').datagrid("load", param);
    }
    //刷新
    function Refresh() {
        $("#queryTab .easyui-textbox").textbox('clear');
        $("#queryTab .easyui-combobox").combobox('setValue', '');
        Search();
    }
    //号码设置
    function OpenGroupItem() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "号码设置", url: "/PhoneGroupManager/PhoneGroupItemList?GroupID=" + row.ID, width: 800, height: 500 });
        }
    }
    //角色号码组设置
    function OpenGroupRole() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "角色设置", url: "/PhoneGroupManager/RoleGroupForm?GroupID=" + row.ID, width: 800, height: 500 });
        }
    }

    //新增
    function Add() {

        $("#win").OpenWin({ title: "短信号码组-新增", url: "/PhoneGroupManager/PhoneGroupForm" , width: 800, height: 450 });
    }
    //修改
    function Edit() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "短信号码组-编辑", url: "/PhoneGroupManager/PhoneGroupForm?ID=" + row.ID, width: 800, height: 450 });
        }
    }
    //删除
    function Del() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#gd_url').datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: "/PhoneGroupManager/DelInfo",
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功', 'info', function () {
                                    Search();

                                });
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }
    //回调
    function callback(isOk) {

        $("#win").window('close');

        if (isOk) {
            Search();

        }
    }
</script>
<div id="win"></div>

<div class="content_grid">
    <div class="StTitle" id="ToolBar">
        <div class="sipac_rtsearchbar">
            <div class="s_s_mBox">
                <a title="点击下拉内容较多搜索" class="s_s_morebtn" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="sipac_searchBox sipac_form" id="queryTab">
            <fieldset class="layui-elem-field">
                <legend>更多查询</legend>
                <div class="sipac_form_row">
                    <label>组名称</label><input class="easyui-textbox" name="Like_GroupName">
                                      <label>是否有效</label><input class="easyui-combobox Dict_Enabled defaultAll" name="Enabled" />
                    <button type="button" class="layui-btn" onclick="Search()"><i class="fa fa-search"></i>搜索</button>
                </div>
                <div class="s_s_close"><a href="javascript:void(0);" title="点击收起"><i class="fa fa-chevron-up"></i></a></div>
            </fieldset>
        </div>
        <div class="sipac_table_menu">
            <button type="button" class="layui-btn" onclick="Add()"><i class="fa fa-plus"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-warning" onclick="Edit()"><i class="fa fa-edit"></i>修改</button>
            <button type="button" class="layui-btn layui-btn-danger" onclick="Del()"><i class="fa fa-minus"></i>删除</button>
            <button type="button" class="layui-btn" onclick="OpenGroupItem()"><i class="fa fa-phone"></i>号码设置</button>
            <button type="button" class="layui-btn layui-btn-warning" onclick="OpenGroupRole()"><i class="fa fa-user"></i>角色设置</button>
            <button type="button" class="layui-btn layui-btn-info" onclick="Refresh()"><i class="fa fa-refresh "></i>刷新</button>
        </div>
    </div>
    <table id="gd_url">
        <thead>
            <tr>
                <th data-options="field:'GroupName',width:200">组名称</th>
                <th data-options="field:'PhoneNum',width:200,align:'center',formatter:formatter_count">号码(个)</th>
                <th data-options="field:'RoleNum',width:200,align:'center',formatter:formatter_count">角色(个)</th>
                <th data-options="field:'Note',width:400">备注</th>
                <th data-options="field:'Enabled',width:100,align:'center',formatter:formatter_valid">是否有效</th>
            </tr>
        </thead>
    </table>
</div>