@{
    ViewBag.Title = "数据字典管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery-easyui-1.5/jquery-easyui-datagridview/datagrid-detailview.js"></script>
<style>
    .divDictItem {
        padding: 10px;
        border: 1px solid #ccc
    }

        .divDictItem .submenu a {
            display: inline-block;
            padding: 5px 10px 0;
            font: 14px/30px Arial;
            text-align: center;
            border-bottom: 2px solid transparent;
        }

            .divDictItem .submenu a:hover {
                border-bottom: 2px solid #157DBf;
                color: #157DBf;
            }

        .divDictItem .submenu em {
            margin: 10px 0 0;
            border-left: 1px solid #DDDDDD;
        }
</style>
<script>
    $(function () {
        //初始化表格
        $('#gd_url').InitGird({
            isMax: false,
            height: 50,
            width: 0,
            url: '/DictManager/GetGrid',
            view: detailview,
            detailFormatter: function (index, row) {
                return '<div class="divDictItem"><div class="submenu">'
                    + '<a href="javascript:void(0);" onclick=ItemAdd(' + index + ',"' + row.ID + '")>新增</a><em></em>'
                    + '<a href="javascript:void(0);" onclick=ItemEdit(' + index + ',"' + row.ID + '")>修改</a><em></em>'
                    + '<a href="javascript:void(0);" onclick=ItemDel(' + index + ',"' + row.ID + '")>删除</a><em></em>'
                    + '<a href="javascript:void(0);" onclick=ItemRefresh(' + index + ',"' + row.ID + '")>刷新</a><em></em></div>'
                    + '<table id="tbDictItem-' + index + '"></table></div>';
            },
            onExpandRow: function (index, row) {
                $('#tbDictItem-' + index).datagrid({
                    url: config_jcxx_url + '/DictManager/GetItemAllList',
                    queryParams: { CategoryID: row.ID, sort: "ItemCode", order: "asc" },
                    fitColumns: true,
                    singleSelect: true,
                    rownumbers: true,
                    columns: [[
                        { field: 'ItemCode', title: '明细编号', width: 100 },
                        { field: 'ItemName', title: '明细名称', width: 100 },
                        { field: 'Note', title: '备注', width: 100 },
                        { field: 'Enabled', title: '是否有效', align: 'center', formatter: formatter_valid }
                    ]],
                    onResize: function () {
                        $('#gd_url').datagrid('fixDetailRowHeight', index);
                    },
                    onLoadSuccess: function () {
                        setTimeout(function () {
                            $('#gd_url').datagrid('fixDetailRowHeight', index);
                        }, 0);
                    }
                })
                $('#gd_url').datagrid('fixDetailRowHeight', index);
            }
        });

        //初始化应用选择列表
        $('#sysApp').combobox({
            method: 'get',
            url: config_jcxx_url + '/AppManager/GetAllList',
            editable: false,
            valueField: 'ID',
            textField: 'AppName',
            onLoadSuccess: function () {
                var dataList = $(this).combobox('getData');
                if (dataList.length > 0) {
                    $('#sysApp').combobox('select', dataList[0].ID);
                    $('#hfAppID').val(dataList[0].ID);
                }
            }, onChange: function (newValue, oldValue) {
                $('#hfAppID').val(newValue);
                Search();
            }
        });


    })



    //查询
    function Search() {
        var param = $("#queryTab").getJsonValues().jsonData;
        $('#gd_url').datagrid("load", param);
    }
    //刷新
    function Refresh() {
        $("#queryTab .easyui-textbox").textbox('clear');
        $("#queryTab .easyui-combobox").combobox('setValue', '');
        Search();
    }
    //新增
    function Add() {
        $("#win").OpenWin({ title: "数据字典管理-新增", url: "/DictManager/DictCategoryForm?AppID=" + $("#hfAppID").val(), width: 600, height: 350 });
    }
    //修改
    function Edit() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "数据字典管理-编辑", url: "/DictManager/DictCategoryForm?ID=" + row.ID, width: 600, height: 350 });
        }
    }
    //删除
    function Del() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#gd_url').datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: "/DictManager/DelInfo",
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功', 'info', function () {
                                    Search();
                                    $('#treeDept').tree('reload');
                                });
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }
    //回调
    function callback(isOk) {
        $("#win").window('close');
        if (isOk) {
            Search();
        }
    }
    //新增
    function ItemAdd(TbRowIndex, TbID) {
        $("#win").OpenWin({
            title: "字典明细管理-新增", url: "/DictManager/DictItemForm?TbID=" + TbID + "&TbRowIndex=" + TbRowIndex, width: 600, height: 400
        });
    }
    //修改
    function ItemEdit(TbRowIndex, TbID) {
        if ($('#tbDictItem-' + TbRowIndex).datagrid('IsSelectedRow')) {
            var row = $('#tbDictItem-' + TbRowIndex).datagrid('getSelected');
            $("#win").OpenWin({ title: "字典明细管理-编辑", url: "/DictManager/DictItemForm?ID=" + row.ID + "&TbID=" + TbID + "&&TbRowIndex=" + TbRowIndex, width: 600, height: 400 });
        }
    }
    //删除
    function ItemDel(TbRowIndex, TbID) {
        if ($('#tbDictItem-' + TbRowIndex).datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#tbDictItem-' + TbRowIndex).datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: '/DictManager/DelItemInfo',
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功');
                                ItemRefresh(TbRowIndex, TbID)
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }

    //查询
    function ItemSearch(index, rowID) {
        var param = { CategoryID: rowID };
        $('#tbDictItem-' + index).datagrid("load", param);
    }
    //刷新
    function ItemRefresh(index, rowID) {

        ItemSearch(index, rowID);
    }

    function ItemCallback(isOk, index, rowID) {
        $("#win").window('close');
        if (isOk) {
            ItemSearch(index, rowID);
        }
    }
</script>

<div id="win"></div>
<div class="content_grid_top">
    系统应用：<input id="sysApp" class="easyui-combobox" />
</div>
<div class="content_grid">
    <div class="StTitle" id="ToolBar">
        <div class="sipac_rtsearchbar">
            <div class="s_s_mBox">
                <a title="点击下拉内容较多搜索" class="s_s_morebtn" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="sipac_searchBox sipac_form" id="queryTab">
            <input type="hidden" name="AppID" id="hfAppID" />
            <fieldset class="layui-elem-field">
                <legend>更多查询</legend>
                <div class="sipac_form_row">
                    <label>字典编号</label><input class="easyui-textbox" name="Like_CategoryCode">
                    <label>字典名称</label><input class="easyui-textbox" name="Like_CategoryName">
                    <label>是否有效</label><input class="easyui-combobox Dict_Enabled defaultAll" name="Enabled" />
                    <button type="button" class="layui-btn" onclick="Search()"><i class="fa fa-search"></i>搜索</button>
                </div>
                <div class="s_s_close"><a href="javascript:void(0);" title="点击收起"><i class="fa fa-chevron-up"></i></a></div>
            </fieldset>
        </div>
        <div class="sipac_table_menu">
            <button type="button" class="layui-btn" onclick="Add()"><i class="fa fa-plus"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-warning" onclick="Edit()"><i class="fa fa-edit"></i>修改</button>
            <button type="button" class="layui-btn layui-btn-danger" onclick="Del()"><i class="fa fa-minus"></i>删除</button>
            <button type="button" class="layui-btn layui-btn-info" onclick="Refresh()"><i class="fa fa-refresh "></i>刷新</button>
        </div>
    </div>

    <table id="gd_url">
        <thead>
            <tr>
                <th data-options="field:'AppName',width:200">所属应用</th>
                <th data-options="field:'CategoryCode',width:200">字典编号</th>
                <th data-options="field:'CategoryName',width:200">字典名称</th>
                <th data-options="field:'Note',width:400">备注</th>
                <th data-options="field:'Enabled',width:100,align:'center',formatter:formatter_valid">是否有效</th>
            </tr>
        </thead>
    </table>
</div>