@{
    ViewBag.Title = "数据字典管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery-easyui-1.5/jquery-easyui-datagridview/datagrid-detailview.js"></script>
<style>
    .divDictItem {
        padding: 10px;
        border: 1px solid #ccc
    }

        .divDictItem .submenu a {
            display: inline-block;
            padding: 5px 10px 0;
            font: 14px/30px Arial;
            text-align: center;
            border-bottom: 2px solid transparent;
        }

            .divDictItem .submenu a:hover {
                border-bottom: 2px solid #157DBf;
                color: #157DBf;
            }

        .divDictItem .submenu em {
            margin: 10px 0 0;
            border-left: 1px solid #DDDDDD;
        }
</style>
<script>
    $(function () {
         //初始化表格
        $('#gd_url').InitGird({
                url: "../DictManager/GetGrid",
                view: detailview,
                detailFormatter: function (index, row) {
                    return '<div class="divDictItem"><div class="submenu">'
                        + '<a href="javascript:void(0);" onclick=ItemAdd(' + index + ',"' + row.ID + '")>新增</a><em></em>'
                        + '<a href="javascript:void(0);" onclick=ItemEdit(' + index + ',"' + row.ID + '")>修改</a><em></em>'
                        + '<a href="javascript:void(0);" onclick=ItemDel(' + index + ',"' + row.ID + '")>删除</a><em></em>'
                        + '<a href="javascript:void(0);" onclick=ItemRefresh(' + index + ',"' + row.ID + '")>刷新</a><em></em></div>'
                        + '<table id="tbDictItem-' + index + '"></table></div>';
                },
                onExpandRow: function (index, row) {
                    $('#tbDictItem-' + index).datagrid({
                        url: "../DictManager/GetItemAllList",
                        queryParams: { CategoryID: row.ID, sort: "ItemCode", order:"asc" },
                        fitColumns: true,
                        singleSelect: true,
                        rownumbers: true,
                        columns: [[
                            { field: 'ItemCode', title: '明细编号', width: 100 },
                            { field: 'ItemName', title: '明细名称', width: 100 },
                            { field: 'Note', title: '备注', width: 100 },
                            { field: 'Enabled', title: '是否有效', align: 'center', formatter: formatter_valid }
                        ]],
                        onResize: function () {
                            $('#gd_url').datagrid('fixDetailRowHeight', index);
                        },
                        onLoadSuccess: function () {
                            setTimeout(function () {
                                $('#gd_url').datagrid('fixDetailRowHeight', index);
                            }, 0);
                        }
                    })
                    $('#gd_url').datagrid('fixDetailRowHeight', index);
                }
            });

        //初始化应用选择列表
        $('#sysApp').combobox({
            method: 'get',
            url: '../AppManager/GetAllList',
            editable: false,
            valueField: 'ID',
            textField: 'AppName',
            onLoadSuccess: function () {
                var dataList = $(this).combobox('getData');
                if (dataList.length > 0) {
                    $('#sysApp').combobox('select', dataList[0].ID);
                    $('#hfAppID').val(dataList[0].ID);
                }
            }, onChange: function (newValue, oldValue) {
                $('#hfAppID').val(newValue);
                Search();
            }
        });

        InitSize();

        //搜索栏切换显示
        $(".StTitle .s_s_morebtn,.s_s_close a").click(function () {
            $(".sipac_rtsearchbar").toggle();
            $(".sipac_searchBox").toggle();
            InitSize();
        });
        $(window).resize(function () {
            InitSize();
        });
    })


    //初始化尺寸
    function InitSize() {
        $('#gd_url').datagrid('resize', {
            width: $(window).width() - 100,
            height: $(window).height() - 50
        });
    }

    //查询
    function Search() {
        var param = $("#queryTab").getJsonValues().jsonData;
        $('#gd_url').datagrid("load", param);
    }
    //刷新
    function Refresh() {
        $("#queryTab .easyui-textbox").textbox('clear');
        $("#queryTab .easyui-combobox").combobox('setValue', '');
        Search();
    }
    //新增
    function Add() {
        $("#win").OpenWin({ title: "数据字典管理-新增", url: "../DictManager/DictCategoryForm?AppID=" + $("#hfAppID").val(), width: 600, height: 350 });
    }
    //修改
    function Edit() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "数据字典管理-编辑", url: "../DictManager/DictCategoryForm?ID=" + row.ID, width: 600, height: 350 });
        }
    }
    //删除
    function Del() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#gd_url').datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: "/DictManager/DelInfo",
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功', 'info', function () {
                                    Search();
                                    $('#treeDept').tree('reload');
                                });
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }
    //回调
    function callback(isOk) {
        $("#win").window('close');
        if (isOk) {
            Search();
        }
    }
    //新增
    function ItemAdd(TbRowIndex, TbID) {
        $("#win").OpenWin({
            title: "字典明细管理-新增", url: "../DictManager/DictItemForm?TbID=" + TbID + "&TbRowIndex=" + TbRowIndex, width: 600, height: 400 });
    }
    //修改
    function ItemEdit(TbRowIndex, TbID) {
        if ($('#tbDictItem-' + TbRowIndex).datagrid('IsSelectedRow')) {
            var row = $('#tbDictItem-' + TbRowIndex).datagrid('getSelected');
            $("#win").OpenWin({ title: "字典明细管理-编辑", url: "../DictManager/DictItemForm?ID=" + row.ID + "&TbID=" + TbID + "&&TbRowIndex=" + TbRowIndex, width: 600, height: 400 });
        }
    }
    //删除
    function ItemDel(TbRowIndex, TbID) {
        if ($('#tbDictItem-' + TbRowIndex).datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#tbDictItem-' + TbRowIndex).datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: "/DictManager/DelItemInfo",
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功');
                                ItemRefresh(TbRowIndex, TbID)
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }

    //查询
    function ItemSearch(index, rowID) {
        var param = { CategoryID: rowID };
        $('#tbDictItem-' + index).datagrid("load", param);
    }
    //刷新
    function ItemRefresh(index, rowID) {
        
        ItemSearch(index, rowID);
    }

    function ItemCallback(isOk, index, rowID) {
        $("#win").window('close');
        if (isOk) {
            ItemSearch(index, rowID);
        }
    }

</script>

<div id="win"></div>
<div class="content_grid_top">
    系统应用：<input id="sysApp" class="easyui-combobox" />
</div>
<div class="content_grid">
    <div class="StTitle" id="ToolBar">
        <div class="sipac_rtsearchbar">
            @*<input class="s_s_text" type="text" value="当前栏目搜索">
                <input class="StBtn_submit" type="submit" value="查询">*@
            <div class="s_s_mBox">
                <a title="点击下拉内容较多搜索" class="s_s_morebtn" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="sipac_searchBox sipac_form" id="queryTab">
            <input type="hidden" name="AppID" id="hfAppID"/>
            <table>
                <tbody>
                    <tr>
                        <th>字典编号</th>
                        <td width="35%">
                            <input class="easyui-textbox" name="Like_CategoryCode" />
                        </td>
                        <th>字典名称</th>
                        <td width="35%">
                            <input class="easyui-textbox" name="Like_CategoryName" />
                        </td>
                    </tr>
                    <tr>
                        <th>是否有效</th>
                        <td colspan="3">
                            <input class="easyui-combobox Dict_Enabled defaultAll" name="Enabled" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="s_s_bar"><button class="StBtn StBtn_submit" onclick="Search()">搜索</button></div>
            <div class="s_s_close"><a href="javascript:void(0);" title="点击收起"><i class="fa fa-chevron-up"></i></a></div>
        </div>
        <div class="sipac_table_menu">
            <a href="javascript:void(0);" onclick="Add()">新增</a><em></em>
            <a href="javascript:void(0);" onclick="Edit()">修改</a><em></em>
            <a href="javascript:void(0);" onclick="Del()">删除</a><em></em>
            <a href="javascript:void(0);" onclick="Refresh()">刷新</a><em></em>
        </div>
    </div>

    <table id="gd_url">
        <thead>
            <tr>
                <th data-options="field:'AppName',width:200">所属应用</th>
                <th data-options="field:'CategoryCode',width:200">字典编号</th>
                <th data-options="field:'CategoryName',width:200">字典名称</th>
                <th data-options="field:'Note',width:400">备注</th>
                <th data-options="field:'Enabled',width:100,align:'center',formatter:formatter_valid">是否有效</th>
            </tr>
        </thead>
    </table>
</div>

