@{
    ViewBag.Title = "人员管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(function () {
        $(".content_grid_lft").height($(window).height());
        //初始化左侧部门树
        $('#treeDept').tree({
            method: "post",
            url: config_jcxx_url + "/DeptManager/GetEasyuiTreeList",
            queryParams: $("#queryTab").getJsonValues().jsonData,
            onDblClick: function (node) {
                //取消选择
                $('#treeDept').find('.tree-node-selected').removeClass('tree-node-selected');
                $("#hfParentID").val('');
                Search();
            },
            onClick: function (note) {
                $("#hfParentID").val(note.id);
                Search();
            }
        });

        //初始化表格
        $('#gd_url').InitGird({ url: "/UserManager/GetGrid", isMax: false, width: 210,height:0 });

        $(window).resize(function () {
            $(".content_grid_lft").height($(window).height());
        });
    })

    //新增
    function Add() {
        var parentID = $("#hfParentID").val();
        $("#win").OpenWin({ title: "人员-新增", url: "/UserManager/UserForm?DeptID=" + parentID, width: 800, height: 500 });
    }

    //修改
    function Edit() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "人员-编辑", url: "/UserManager/UserForm?ID=" + row.ID, width: 800, height: 500 });
        }
    }

    //删除
    function Del() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#gd_url').datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: "/UserManager/DelInfo",
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功', 'info', function () {
                                    Search();
                                });

                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }

    //查询
    function Search() {
        var param = $("#queryTab").getJsonValues().jsonData;
        $('#gd_url').datagrid("load", param);
    }

    //刷新
    function Refresh() {
        $("#queryTab .easyui-textbox").textbox('clear');
        $("#queryTab .easyui-combobox").combobox('setValue', '');
        Search();
    }

    //密码重置
    function PwdReset() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "人员-密码重置", url: "/UserManager/UserPwd?ID=" + row.ID, width: 550, height: 250 });
        }
    }

    //回调
    function callback(isOk) {
        $("#win").window('close');
        if (isOk) {
            Search();
            $('#treeDept').tree('reload');
        }
    }
</script>

<div id="win"></div>
<div class="content_grid_lft">
    <ul id="treeDept"></ul>
</div>
<div class="content_grid_rt">
    <div class="StTitle" id="ToolBar">
        <div class="sipac_rtsearchbar">
            <div class="s_s_mBox">
                <a title="点击下拉内容较多搜索" class="s_s_morebtn" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="sipac_searchBox sipac_form" id="queryTab">
            <fieldset class="layui-elem-field">
                <legend>更多查询</legend>
                <input type="hidden" id="hfParentID" name="DeptParentID" />
                <div class="sipac_form_row">
                    <label>人员账号</label><input class="easyui-textbox" name="Like_Account">
                    <label>人员姓名</label><input class="easyui-textbox" name="Like_UserName">
                    <label>是否有效</label><input class="easyui-combobox Dict_Enabled defaultAll" name="Enabled" />
                    <button type="button" class="layui-btn layui-btn-search" onclick="Search()"><i class="fa fa-search"></i>搜索</button>
                </div>
                <div class="s_s_close"><a href="javascript:void(0);" title="点击收起"><i class="fa fa-chevron-up"></i></a></div>
            </fieldset>
        </div>
        <div class="sipac_table_menu">
            <button type="button" class="layui-btn" onclick="Add()"><i class="fa fa-plus"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-warning" onclick="Edit()"><i class="fa fa-edit"></i>修改</button>
            <button type="button" class="layui-btn layui-btn-danger" onclick="Del()"><i class="fa fa-minus"></i>删除</button>
            <button type="button" class="layui-btn layui-btn-warning" onclick="PwdReset()"><i class="fa fa-key"></i>密码重置</button>
            <button type="button" class="layui-btn layui-btn-info" onclick="Refresh()"><i class="fa fa-refresh "></i>刷新</button>
        </div>
    </div>

    <table id="gd_url">
        <thead>
            <tr>
                <th data-options="field:'DeptName',width:150">所属部门</th>
                <th data-options="field:'UserCode',width:150">人员编号</th>
                <th data-options="field:'Account',width:150">登录账号</th>
                <th data-options="field:'UserName',width:150">人员姓名</th>
                <th data-options="field:'Gender',width:100">性别</th>
                <th data-options="field:'IDNumber',width:200">身份证号</th>
                <th data-options="field:'Mobile',width:200">联系方式</th>
                <th data-options="field:'Email',width:200">邮箱地址</th>
                <th data-options="field:'Note',width:400">备注</th>
                <th data-options="field:'Enabled',width:100,align:'center',formatter:formatter_valid">是否有效</th>
            </tr>
        </thead>
    </table>
</div>