@{
    ViewBag.Title = "网格管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Dict_GridType = ConstHelper.Dict_GridType;//数据字典-网格类型
}

<script>
    var Dict_GridType = '@Dict_GridType';
    var PageType;//页面类型

    $(function () {
        PageType = getQueryString("PageType");//随URL传件来的参数
        //菜单：网格管理
        if (PageType == 0) {
            $("#btn_add").show();       //按钮：新增
            $("#btn_edit").show();      //按钮：编辑
            $("#btn_delete").show();    //按钮：删除
            $("#btn_import").show();    //按钮：导入
            $("#btn_export").show();    //按钮：导出
            $("#btn_roleset").hide();   
        } else if (PageType == 1) {     //菜单：网格权属管理
            $("#btn_roleset").show();   //按钮：角色设置
            $("#btn_add").hide();
            $("#btn_edit").hide();
            $("#btn_delete").hide();
            $("#btn_import").hide();
            $("#btn_export").hide();
        } else {
            $.messager.alert('提示', '无法识别页类型！');
            return false;
        }

        //初始化表格
        $('#gd_url').InitGird({ url: '/GridManager/GetGrid' });
        //初始化数据字典
        $('#GridType').InitDictCombobox({ url: Dict_GridType });

    })

    

    //查询
    function Search() {
        var param = $("#queryTab").getJsonValues().jsonData;
        $('#gd_url').datagrid("load", param);
    }
    //刷新
    function Refresh() {
        $("#queryTab .easyui-textbox").textbox('clear');
        $("#queryTab .easyui-combobox").combobox('setValue', '');
        Search();
    }
    //新增
    function Add() {
        $("#win").OpenWin({ title: "网格-新增", url: "/GridManager/GridForm", width: 800, height: 550 });
    }
    //修改
    function Edit() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "网格-编辑", url: "/GridManager/GridForm?ID=" + row.ID, width: 800, height: 550 });
        }
    }
    //删除
    function Del() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#gd_url').datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: '/GridManager/DelInfo',
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功', 'info', function () {
                                    Search();
                                });
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }
    //网格权属角色设置
    function OpenGroupRole() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "网格权属角色", url: "/GridManager/RoleGridForm?ID=" + row.ID, width: 800, height: 600 });
        }
    }
    //导入
    function Import() {
        $("#win").OpenWin({ title: "网格-批量导入", url: "/GridManager/GridImport", width: 700, height: 350 });
    }
    //导出
    function Export() {
        var param = $("#queryTab").getJsonValues().jsonData;
        window.location.href = "DownloadFile";
    }
    //回调
    function callback(isOk) {
        $("#win").window('close');
        if (isOk)
            Search();
    }
</script>

<div id="win">
</div>

<div class="content_grid">
    <div class="StTitle" id="ToolBar">
        <div class="sipac_rtsearchbar">
            <div class="s_s_mBox">
                <a title="点击下拉内容较多搜索" class="s_s_morebtn" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="sipac_searchBox sipac_form" id="queryTab">
            <input type="hidden" name="AppID" id="hfAppID" />
            <fieldset class="layui-elem-field">
                <legend>更多查询</legend>
                <div class="sipac_form_row">
                    <label>网格类型</label><input class="easyui-combobox defaultAll" name="GridType" id="GridType">
                    <label>网格编号</label><input class="easyui-textbox" name="Like_GridCode">
                    <label>网格名称</label><input class="easyui-textbox" name="Like_GridName">
                    <label>是否有效</label><input class="easyui-combobox Dict_Enabled defaultAll" name="Enabled" />
                    <button class="layui-btn" onclick="Search()"><i class="fa fa-search"></i>搜索</button>
                </div>
                <div class="s_s_close"><a href="javascript:void(0);" title="点击收起"><i class="fa fa-chevron-up"></i></a></div>
            </fieldset>
        </div>
        <div class="sipac_table_menu">
            <button id="btn_add" class="layui-btn" onclick="Add()"><i class="fa fa-plus"></i>新增</button>
            <button id="btn_edit" class="layui-btn layui-btn-warning" onclick="Edit()"><i class="fa fa-edit"></i>修改</button>
            <button id="btn_delete" class="layui-btn layui-btn-danger" onclick="Del()"><i class="fa fa-minus"></i>删除</button>
            <button id="btn_roleset" class="layui-btn" onclick="OpenGroupRole()"><i class="fa fa-user"></i>角色设置</button>
            <button id="btn_import" class="layui-btn" onclick="Import()"><i class="fa fa-upload"></i>导入</button>
            <button id="btn_export" class="layui-btn layui-btn-warning" onclick="Export()"><i class="fa fa-download"></i>导出</button>
            <button class="layui-btn layui-btn-info" onclick="Refresh()"><i class="fa fa-refresh "></i>刷新</button>
        </div>
    </div>

    <table id="gd_url">
        <thead>
            <tr>
                <th data-options="field:'GridTypeDesc',width:200">网格类型</th>
                <th data-options="field:'GridCode',width:200">网格编号</th>
                <th data-options="field:'GridName',width:200">网格名称</th>
                <th data-options="field:'ShowName',width:200">显示名称</th>
                <th data-options="field:'GridArea',width:200">网格面积(平方米)</th>
                <th data-options="field:'RoleCount',width:200,align:'center',formatter:formatter_count,hidden:this.PageType==0?true:false">权属角色(个)</th>  @*根据条件动态控制dataguid th 列显示/隐藏（hidden:this.PageType==0?true:false）*@
                <th data-options="field:'Note',width:400">备注</th>
                <th data-options="field:'Enabled',width:100,align:'center',formatter:formatter_valid">是否有效</th>
            </tr>
        </thead>
    </table>
</div>