@{
    ViewBag.Title = "权属管理";
    ViewData["Title"] = "OwnerShipGuidForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset='utf-8'>
    <link href="~/css/jquery-sortable-lists_style.css" rel="stylesheet" media="screen" />
    @*<script src="~/lib/jquery-sortable/jquery-sortable-lists.min.js"></script>*@
    <script type="text/javascript">
        var ID = getQueryString("ID");//网格ID
        $(function () {
            BindTreeData();
        });
        function BindTreeData() {
            $('#sTree2').tree({
                method: "post",
                dnd: true,
                url: "../GridManager/GetEasyuiTreeList?GridID=" + ID,
                onDrop: function (targetNode, source, point) {
                    var targetId = $('#sTree2').tree('getNode', targetNode).id;
                    $.ajax({
                        url: '../GridManager/UpdateTreeByID',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: source.id,      //源节点
                            targetId: targetId, //DOM 对象，放置的目标节点
                            point: point,       //表示放置操作，可能的值是：'append'、'top' 或 'bottom'。
                            gridid: ID          //网格记录ID
                        },
                        async: true
                    });
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <section id="main_content">
            <ul class="sTree2 listsClass" id="sTree2"></ul>
        </section>
    </div>
</body>
</html>