@{
    ViewBag.Title = "案件权属管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Dict_CaseType = ConstHelper.Dict_CaseType;//数据字典-案件类型
    string Dict_CaseClassI = ConstHelper.Dict_CaseClassI;//数据字典-案件大类
    string Dict_CaseClassII = ConstHelper.Dict_CaseClassII;//数据字典-案件小类
    string Dict_CaseClassIII = ConstHelper.Dict_CaseClassIII;//数据字典-案件子类
    string Dict_CaseClassQSType = ConstHelper.Dict_CaseClassQSType;//数据字典-案件权属类型
}

<script>

    $(function () {
        //初始化表格
        $('#gd_url').InitGird({ url: "/CaseClassManager/GetGrid" });

        InitCombo();

        $('#CaseType').combobox({
            onChange: function (newValue, oldValue) {

                if (newValue == "") {

                    clearCombobox(3);
                }
                else {
                    $('#CaseClassI').InitDictCombobox({ url: '@Dict_CaseClassI', parantID: newValue });
                }
            }
        });
        $('#CaseClassI').combobox({
            onChange: function (newValue, oldValue) {

                if (newValue == "") {

                    clearCombobox(2);
                }
                else {
                    $('#CaseClassII').InitDictCombobox({ url: '@Dict_CaseClassII', parantID: newValue });
                }
            }
        });
        $('#CaseClassII').combobox({
            onChange: function (newValue, oldValue) {

                if (newValue == "") {

                    clearCombobox(1);
                }
                else {
                    $('#CaseClassIII').InitDictCombobox({ url: '@Dict_CaseClassIII', parantID: newValue });
                }
            }
        });

    })
    function InitCombo() {
        var Dict_CaseType = '@Dict_CaseType';

        var Dict_CaseClassQSType = '@Dict_CaseClassQSType';
        $('#CaseType').InitDictCombobox({ url: Dict_CaseType });
        $('#RoleType').InitDictCombobox({ url: Dict_CaseClassQSType });
    }
    function clearCombobox(level) {
        if (level > 0) {
            $('#CaseClassIII').combobox('loadData', []);
            $('#CaseClassIII').combobox('setValue', '');
        }
        if (level > 1) {
            $('#CaseClassII').combobox('loadData', []);
            $('#CaseClassII').combobox('setValue', '');
        }
        if (level > 2) {

            $('#CaseClassI').combobox('loadData', []);
            $('#CaseClassI').combobox('setValue', '');
        }

    }

    //查询
    function Search() {
        var param = $("#queryTab").getJsonValues().jsonData;
        $('#gd_url').datagrid("load", param);
    }
    //刷新
    function Refresh() {
        $("#queryTab .easyui-textbox").textbox('clear');
        $("#queryTab .easyui-combobox").combobox('setValue', '');
        Search();
    }

    //角色案件设置
    function OpenGroupRole() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "案件权属角色", url: "/CaseClassManager/RoleCaseForm?CaseClassID=" + row.ID, width: 800, height: 600 });
        }
    }

    //新增
    function Add() {

        $("#win").OpenWin({ title: "案件权属-新增", url: "/CaseClassManager/CaseClassForm" , width: 800, height: 450 });
    }
    //修改
    function Edit() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            var row = $('#gd_url').datagrid('getSelected');
            $("#win").OpenWin({ title: "案件权属-编辑", url: "/CaseClassManager/CaseClassForm?ID=" + row.ID, width: 800, height: 450 });
        }
    }
    //删除
    function Del() {
        if ($('#gd_url').datagrid('IsSelectedRow')) {
            $.messager.confirm('确认', '确认删除？', function (r) {
                if (r) {
                    var row = $('#gd_url').datagrid('getSelected');
                    $.DoAjax({
                        needWaiting: true,
                        url: "/CaseClassManager/DelInfo",
                        dataParams: { ID: row.ID },
                        successFunc: function (result) {
                            if (result.StatusCode == "200") {
                                $.messager.alert('提示', '删除成功', 'info', function () {
                                    Search();

                                });
                            }
                            else {
                                console.log(result);
                                $.messager.alert('提示', '删除失败');
                            }
                        }
                    });
                }
            });
        }
    }
    //导入
    function Import() {
        $("#win").OpenWin({ title: "案件权属-批量导入", url: "/CaseClassManager/CaseClassImport", width: 700, height: 350 });
    }
    //导出
    function Export() {
        var param = $("#queryTab").getJsonValues().jsonData;
        window.location.href = "DownloadFile";
    }
    //回调
    function callback(isOk) {

        $("#win").window('close');

        if (isOk) {
            Search();

        }
    }
</script>
<div id="win"></div>

<div class="content_grid">
    <div class="StTitle" id="ToolBar">
        <div class="sipac_rtsearchbar">
            <div class="s_s_mBox">
                <a title="点击下拉内容较多搜索" class="s_s_morebtn" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="sipac_searchBox sipac_form" id="queryTab">
            <input type="hidden" id="hfParentID" name="ParentID" />
            <fieldset class="layui-elem-field">
                <legend>更多查询</legend>
                <div class="sipac_form_row">
                    <label>案件类型</label> <input class="easyui-combobox defaultAll" id="CaseType" name="CaseType" />
                    <label>案件大类</label> <input class="easyui-combobox defaultAll" id="CaseClassI" name="CaseClassI" />
                    <label>案件小类</label> <input class="easyui-combobox defaultAll" id="CaseClassII" name="CaseClassII" />
                </div>
                <div class="sipac_form_row">
                    <label>案件子类</label>  <input class="easyui-combobox defaultAll" id="CaseClassIII" name="CaseClassIII" />
                    <label>权属类型</label> <input class="easyui-combobox defaultAll" id="RoleType" name="RoleType" />
                    <label>是否有效</label> <input class="easyui-combobox Dict_Enabled defaultAll" name="Enabled" />
                    <button class="layui-btn" onclick="Search()"><i class="fa fa-search"></i>搜索</button>
                </div>
                <div class="s_s_close"><a href="javascript:void(0);" title="点击收起"><i class="fa fa-chevron-up"></i></a></div>
            </fieldset>
        </div>
        <div class="sipac_table_menu">
            <button class="layui-btn" onclick="Add()"><i class="fa fa-plus"></i>新增</button>
            <button class="layui-btn layui-btn-warning" onclick="Edit()"><i class="fa fa-edit"></i>修改</button>
            <button class="layui-btn layui-btn-danger" onclick="Del()"><i class="fa fa-minus"></i>删除</button>
            <button class="layui-btn layui-btn-warning" onclick="OpenGroupRole()"><i class="fa fa-user"></i>角色设置</button>
            <button class="layui-btn" onclick="Import()"><i class="fa fa-upload"></i>导入</button>
            <button class="layui-btn layui-btn-warning" onclick="Export()"><i class="fa fa-download"></i>导出</button>
            <button class="layui-btn layui-btn-info" onclick="Refresh()"><i class="fa fa-refresh "></i>刷新</button>
        </div>
    </div>

    <table id="gd_url">
        <thead>
            <tr>
                <th data-options="field:'CaseTypeDesc',width:10">案件类型</th>
                <th data-options="field:'CaseClassIDesc',width:15">案件大类</th>
                <th data-options="field:'CaseClassIIDesc',width:15">案件小类</th>
                <th data-options="field:'CaseClassIIIDesc',width:15">案件子类</th>
                <th data-options="field:'RoleCount',width:10,align:'center',formatter:formatter_count">角色(个)</th>
                <th data-options="field:'RoleTypeDesc',width:10">案件权属类型</th>
                <th data-options="field:'NeedGrid',width:10,align:'center',formatter:formatter_YesOrNo">是否需要配置网格</th>
                <th data-options="field:'Enabled',width:10,align:'center',formatter:formatter_valid">是否有效</th>
            </tr>
        </thead>
    </table>
</div>